.style73 {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: green;
  position: relative;
}

.style73::after {
  content:'::after el';
  background-color: red;
  position: absolute;
  top: 0px;
  right: -70px;
  padding: 5px;
  color: white;
}