.slideDown-enter {
  /* transform: scaleY(0); */
  /* height:0px; */
}
.slideDown-enter-active {

  /* transform: scaleY(1);
  transition-property: transform;
  transform-origin: top;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1); */
}
.slideDown-exit {
  /* transform: scaleY(1); */
}
.slideDown-exit-active {
  /* transform: scaleY(0);
  transition: transform 0ms;
  transform-origin: top; */
}